#chart-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: white;
}

#chart-container {
    display: flex;
}

#chart {
    width: 100%;
    height: 100%;
}

#chart-tools {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chart-instructions {
    position: absolute;
    top: 27px;
    left: 27px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-size: 11px;
    display: block;
}

#chart-controls {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #eadede1c;
}

#chart-controls > svg {
    margin: 0 5px;
    cursor: pointer;
}