#colorbar {
    position: absolute;
    bottom: 3%;
    right: 5px;
    height: 11%;
    width: 33.5rem;
    z-index: 10000;
    background-color: white;
    padding: 1%;
}

.colorbar-svg {
    height: 10%;
    width: 31rem; /* this will define the colorbar width as well */
}
