.title-container {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25rem;
    width: 28.5rem;
    background-color: white;
    color: black;
    z-index: 999;
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
