.title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-card-title {
  flex-grow: 1;
  display: flex;
  justify-content: left;
  color: #222fbf;
}

.title-card-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
