/* General element styling */
body { 
  margin: 0; 
  padding: 0; 
  color: #333;
  font-family: 'Inter', sans-serif;
  color: #082a64;
}

span{
  padding: 5px;
  color: #333;
  font-weight: normal;
}

/* mapbox related styling goes here */ 
#map canvas {
  cursor: default;
  }

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  height: 100vh;
}

.mapboxgl-ctrl  button .mapboxgl-ctrl-icon {
  display: flex;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  font-size: 14px;
  background-color: white;
  color: #082A63;
  justify-content: center;
  align-items: center;
  padding:0px;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23082A63%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpolygon%20points%3D%2214%2C7%209%2C7%209%2C2%207%2C2%207%2C7%202%2C7%202%2C9%207%2C9%207%2C14%209%2C14%209%2C9%2014%2C9%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23082A63%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpolygon%20points%3D%2214%2C7%202%2C7%202%2C9%2014%2C9%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
}

.mapboxgl-ctrl-compass {
  display: none !important;
  }

/* marker related styling goes here */ 
.marker {
background-image: url("./marker-sdf-2.png");
background-size: cover;
width: 30px;
height: 30px;
border-radius: 50%;
cursor: pointer;
}

/* searching related styling goes here */ 
.autocomplete-search-box {
position: relative;
width: 100%;
box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
border-radius: 5px;
overflow:  hidden;
z-index: 1;
justify-self: CENTER;
}

.autocomplete-search-box .search-box {
width: 100%;
height: 12px;
padding: 10px 10px;
outline: none;
border: none;
border-bottom: 1px solid rrgba(8, 42, 100, 0.3);
display:flex;
}

.autocomplete-search-box .search-result {
width: 100%;
padding: 0;
margin: 0;
}

.autocomplete-search-box .search-result li {
width: 100%;
list-style-type: none;
padding: 10px 20px;
}

.autocomplete-search-box .search-result li:hover {
background: #082a63;
color: white;
cursor: pointer;
}

.autocomplete-search-box .search-result {
background-color: white;
max-height: 150px;
overflow: auto;
}

#plume-id-search-input::placeholder {
  color: #082a64; 
  opacity: 0.8; 
}

/* the toolbar related styling goes here */ 

.toolbar {
display: none;
position: absolute;
top: 10px; 
left: 10px; 
background-color: #fff;
padding: 15px; 
width: 280px;
font-size: 14px;
border-radius: 6px;
} 

.toolbar-heading {
font-size: 24px;
color: #082a64; 
text-align: left;
margin: 0px;
}


.toolbar-line {
border: none; 
border-top: 2px solid #082a64;
margin: 10px 0; 
}

/* selecting date related styling goes here */ 
.dates {
padding: 20px 0px;
flex-direction: row;
}

.label-container {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;
color: #082a64; 
}

input[type="datetime-local"] {
width: 40%; 
padding: 10px;
font-size: 10px;
border-radius: 5px;
border: 1px solid #ccc;
box-shadow: 0 1px 5px 0px rgba(8, 42, 100, 0.3) ;
color: #082a64; 
}

/* coverage toggle related styling goes here */ 
.toggle-container {
display: flex;
flex-direction: row;
align-items: center;
margin-top: 10px;
justify-content: space-between;
width: 100%
}

/* Toggle Container Styling */
.toggle-container {
  display: flex;
  align-items: center;
  color: #082a64;
  font-size: 14px;
}

/* Label before the toggle switch */
.custom-label {
  margin-right: 10px;
  color: #082a64;;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0px; 
  opacity:1;
}

strong {
  color: #082a64;
}

/* Toggle Switch Container */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 42, 100, 0.3);
  border-radius: 15px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  box-sizing: border-box;
}

/* Slider round circle */
.slider:before {
  content: "OFF";
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.slider:after {
  content: "ON";
  color: white;
  font-size: 12px;
  font-weight: bold;
  opacity: 0; /* Hidden by default */
}

/* Round circle on the slider */
.slider::before {
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 4px;
  left: px;
  transition: 0.4s;
}

/* When checked, move the slider background and show "ON" */
input:checked + .slider {
  background-color: #082A63;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

input:checked + .slider::after {
  opacity: 1;
}

input:not(:checked) + .slider::after {
  opacity: 0;
}

/* for legend */
.plegend-container {
position: fixed;          
top: 10px;           
right: 50px;          
z-index: 1000;  
background-color: #fff;   
padding : 10px;   
width : 300px; 
border-radius: 6px;
}

.plumes-legend {
background-color: #fff; 
max-height: 420px;        
overflow-y: auto; 

}

.header-container{
display: flex;
justify-content: space-between;
align-content: center;
}

.num-plumes {
background-color: #082A63; 
border-radius: 6px;          
display: flex;                
align-items: center;          
justify-content: center;    
color: #fff; 
padding: 0 8px;
font-weight: 500;
font-size: 12px;
}

.itemDiv {
  margin:5px;
  padding:5px;
  font-size: 12px;
  box-shadow: 0 1px 5px 0px rgba(8, 42, 100, 0.3) ;
  max-width: 100%; 
  display: flex;
  flex-direction: row;
  border: 0px solid #0098d7;
  }
  

.image-column {
  width: 25%;                   
  justify-content: center;
  align-items: center;   
  display: flex;
}

.image-column img {
  width: 100%; 
  height: auto; 
}

.text-column {
  width: 75%; 
  display: flex;
  flex-direction: column;
  padding:5px;
}

.info-row {
  display: flex;
  justify-content: space-between; 
  margin: 4px;            
}

.separator {
  margin: 2px;
  border: 0;
  border-top: 1px solid #ddd; 
}

a {
  color: #1665ef;      
  text-decoration: none;      
}

a:hover {
  text-decoration: underline;  
}

.props {
  color: #082A63; 
}


/* for the popup */
.mapboxgl-popup-content {
background-color: rgba(255, 255, 255, 0.7); 
font-size: 10px; 
box-shadow: none; 
padding: 5px; 
justify-self: center;
justify-content: center;
color: #333;
}

.mapboxgl-popup-anchor-bottom > .mapboxgl-popup-tip { 
border-top-color: rgba(255, 255, 255, 0.7);
}



/* colorbar */
.colorbar {
  background-color: white; 
  border-radius: 5px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
.colorbar-scale-label-horizontal {
  flex: 1;
  text-align: center; 
  font-size: 12px; 
}

.colorbar-label {
  text-align: center; 
  margin-top: 8px; 
}

/* measurement */
#unit-icon-text { 
  text-transform:lowercase;
}
.mapboxgl-ctrl-icon.measure-icon-clicked {
  background-color:#2B4B92 !important;
 }
 #clear-icon-main{
   display:none;
 }
 #clear-icon-main.clicked{
   display:block;
 }

/* timeline */
.mapboxgl-ctrl-timeline {
  width: 100%;
  margin-top:15px;
  box-shadow: none !important;
  z-index: 1;
}

.mapboxgl-ctrl-timeline__label {
  display: block;
  font-size: 12px !important; /* Adjusted from 2px to a more readable size */
  line-height: 0.9; /* Reduce line height to compact the label */
}


