.dashboard {
    display: block;
    position: static;
}

.resize-handle {
    text-align: center;
    flex: 0 1 0%;
    position: relative;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 5rem;
    margin: 0px auto -1.25rem;
    padding: 0rem 0px 0.25rem;
    z-index: 1;
    cursor: ns-resize;
}