.info-sidebar-container {
    /* display: flex;
    flex-direction: column; */
}

.info-sidebar {
    position: fixed;
    /* top: 35px; */
    /* left: 28px; */
    /* max-width: 90vw; */
    top: 0;
    left: 0;
    width: 30vw;
    max-height: 100vh;
    border-radius: 6px;

    padding: 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-border-primary {
    border: 1px solid #082A64;
}

.info-border-secondary {
    border: 1px solid #D0D0D0;
}
