.info-sidebar-container {
  /* display: flex;
    flex-direction: column; */
}

.info-sidebar {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  /* margin-bottom: 10px; */
  /* max-width: 90vw; */
  width: 30vw;
  max-height: 94vh;
  border-radius: 6px;

  padding: 20px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-sidebar-full-height {
  /* height: 100%; */
}

.info-sidebar-full-height {
  height: 100%;
}

.info-border-primary {
    border: 1px solid #1b1b1b;


.info-border-secondary {
  border: 1px solid #d0d0d0;
}
