.card {
    padding: 5px 15px;
    margin-top: 5px;
}

.explore-more-card {
    display: flex;
    text-decoration: none !important;
    margin-right: 10px;
    justify-content: space-between;
}



.dataset-card h3 {
    color: #1B1B1B;
    font-size: 26px;
    margin: 0 0 8px 0;
}
.dataset-card h2 {
    color: #1B1B1B;
    font-size: 40px;
    margin: 0 0 8px 0;
}

.dataset-card p {
    color: #3D4551;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}

.dataset-card a {
    color: #1B1B1B;
    text-decoration: none;
    /* font-weight: bold; */
}

.dataset-card a:hover {
    text-decoration: underline;
}

/* Population Card Styles Start Here */
.population-container {
    margin-top: 5px;
    display: flex;
    gap: 60px;
}

.population-item {
    display: flex;
    align-items: center;
}

.population-icon {
    background-color: #3d4551;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.population-icon img {
    width: 24px;
    height: 24px;
}

.population-info {
    display: flex;
    flex-direction: column;
}

.population-label {
    color: #1b1b1b;
    font-size: 14px;
    margin: 0;
    line-height: 12.1px;
}

.population-value {
    color: #3d4551;
    font-size: 14px;
    margin: 0;
    line-height: 19.36px;
}

/* Population Card Styles End Here */

/* Pie chart */
.pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pie-chart {
    width: 105px;
    height: 105px;
    margin: 0 auto;
}

/* Colormap chart */
.colormap-chart {
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 30px;
    width: 320px;

    padding: 10px;

    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    /* max-width: 90vw; */

    align-items: center;
    justify-content: center;
}
